defaults/flow.json
[{"id":"80d656be.72c268","type":"tab","label":"Main"},{"id":"566b76d2.e28238","type":"websocket-listener","z":"","path":"/ws/audio","wholemsg":"false"},{"id":"337b3620.90498a","type":"ibmiot","z":"","name":"","keepalive":"","cleansession":true,"appId":"","shared":false},{"id":"1b3617bb.34f1d8","type":"websocket-listener","z":"","path":"/ws/audio","wholemsg":"false"},{"id":"ec8e69bd.b2b8c8","type":"ibmiot","z":"","name":"","keepalive":"","cleansession":true,"appId":"","shared":false},{"id":"c28f8463.0cf0a8","type":"http in","z":"80d656be.72c268","name":"","url":"/audio","method":"get","swaggerDoc":"","x":660.0000228881836,"y":366.50000381469727,"wires":[["3e77c737.b48338"]]},{"id":"3e77c737.b48338","type":"template","z":"80d656be.72c268","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":803.6032104492188,"y":366.64283561706543,"wires":[["eecdbfb8.8b9fa"]]},{"id":"70fc4438.57c6cc","type":"comment","z":"80d656be.72c268","name":"Send audio to speaker","info":"","x":670.0000228881836,"y":326.50000381469727,"wires":[]},{"id":"3c8d962f.944eda","type":"ibmiot in","z":"80d656be.72c268","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"text","commandType":"","format":"json","name":"Text Transcript","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":false,"qos":"0","x":210.0000228881836,"y":186.50000381469727,"wires":[["2c03893c.3f2406","458e488f.410768","b4ba0b29.65bb48"]]},{"id":"2c03893c.3f2406","type":"function","z":"80d656be.72c268","name":"Set User & Transcript","func":"msg.payload = msg.payload.d.text;\nmsg.user = msg.deviceId;\nmsg.date = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":456.0000228881836,"y":185.50000381469727,"wires":[["531eac6d.bbbb64","a874d7f9.077b98"]]},{"id":"458e488f.410768","type":"debug","z":"80d656be.72c268","name":"Complete Payload","active":true,"console":"false","complete":"true","x":460.0000228881836,"y":146.50000381469727,"wires":[]},{"id":"531eac6d.bbbb64","type":"function","z":"80d656be.72c268","name":"Timestamp","func":"currentDate = new Date();\nmsg.currentTime = currentDate.getHours() + \"h:\" + currentDate.getMinutes() + \"m:\" + currentDate.getSeconds() + \"s:\" + currentDate.getMilliseconds() + \"ms\";\nnode.warn(\"Received Text Transcription - \" + msg.currentTime);\nreturn msg;","outputs":1,"noerr":0,"x":680.0000228881836,"y":146.50000381469727,"wires":[[]]},{"id":"b4ba0b29.65bb48","type":"debug","z":"80d656be.72c268","name":"Device ID","active":true,"console":"false","complete":"deviceId","x":450.0000228881836,"y":106.50000381469727,"wires":[]},{"id":"e04d88fb.ef29b8","type":"comment","z":"80d656be.72c268","name":"Enter Workspace ID","info":"","x":680.0000228881836,"y":226.50000381469727,"wires":[]},{"id":"bea68966.a01418","type":"ibmiot out","z":"80d656be.72c268","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"device","deviceType":"default","eventCommandType":"audio","format":"json","data":"{}","qos":"","name":"Publish Audio","service":"registered","x":2390.0000228881836,"y":166.50000381469727,"wires":[]},{"id":"d6511e1d.3c539","type":"watson-text-to-speech","z":"80d656be.72c268","name":"Text to Speech","lang":"en-US","langhidden":"en-US","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"dtDhdiuiLUyZ","x":1730.0000228881836,"y":166.50000381469727,"wires":[["bc131956.43fe78"]]},{"id":"bc131956.43fe78","type":"function","z":"80d656be.72c268","name":"Format Speech","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1970.0000228881836,"y":166.50000381469727,"wires":[["a4289583.3ef838","6a82ab18.af1ce4"]]},{"id":"a4289583.3ef838","type":"function","z":"80d656be.72c268","name":"Publish audio to IoT","func":"msg.encode = new Buffer(msg.speech).toString(\"base64\");\nnode.warn(\"size: \" + msg.encode.length);\nnode.warn(\"data size: \"+msg.speech.length);\nvar response = [];\n\nresponse.push({payload: \"{\\\"type\\\":\\\"start\\\",\\\"id\\\":\\\"1\\\",\\\"size\\\":\"+msg.speech.length+\"}\", deviceId: msg.deviceId});\nvar pos = 0;\nvar numPackets = (msg.encode.length + 3500 - 1)/3500;\nfor (var index=0; index < numPackets; index++) {\n    var remLength = msg.encode.substring(pos).length;\n    var chunkLength;\n    if (remLength > 3500) {\n        chunkLength = 3500;\n    } else {\n        chunkLength = remLength;\n    }\n    var chunk = msg.encode.substring(pos,pos+chunkLength);\n    pos += 3500;\n    if (chunk !== \"\") {\n        response.push({payload: \"{\\\"type\\\":\\\"body\\\",\\\"id\\\":\\\"1\\\",\\\"body\\\":\\\"\"+chunk+\"\\\"}\", deviceId: msg.deviceId});\n    }\n}\nresponse.push({payload: \"{\\\"type\\\":\\\"end\\\",\\\"id\\\":\\\"1\\\"}\", deviceId: msg.deviceId});\nreturn [response];","outputs":1,"noerr":0,"x":2190.0000228881836,"y":166.50000381469727,"wires":[["bea68966.a01418"]]},{"id":"6a82ab18.af1ce4","type":"websocket out","z":"80d656be.72c268","name":"Audio Out","server":"1b3617bb.34f1d8","client":"","x":2190.0000228881836,"y":366.50000381469727,"wires":[]},{"id":"a874d7f9.077b98","type":"watson-conversation-v1","z":"80d656be.72c268","name":"Conversation","workspaceid":"","multiuser":true,"context":true,"x":670.0000228881836,"y":186.50000381469727,"wires":[["48621a02.d2be44","57f4916e.d9f6"]]},{"id":"ba874502.11a888","type":"http in","z":"80d656be.72c268","name":"","url":"/conversered","method":"post","swaggerDoc":"","x":220.0000228881836,"y":366.50000381469727,"wires":[["14d35a50.51d126"]]},{"id":"a5034ec9.57925","type":"comment","z":"80d656be.72c268","name":"Publish to WIoT","info":"","x":2390.0000228881836,"y":126.50000381469727,"wires":[]},{"id":"f2a8bbc6.8b84f8","type":"function","z":"80d656be.72c268","name":"Set output","func":"msg.payload = [msg.payload.output.text[0]];\n\nreturn msg;","outputs":1,"noerr":0,"x":1060.0000228881836,"y":226.50000381469727,"wires":[["eecdbfb8.8b9fa","85cb8054.7e96a"]]},{"id":"48621a02.d2be44","type":"debug","z":"80d656be.72c268","name":"Intents","active":true,"console":"false","complete":"payload","x":860.0000228881836,"y":126.50000381469727,"wires":[]},{"id":"75dd23bf.e486fc","type":"comment","z":"80d656be.72c268","name":"Device input from WIoT","info":"","x":210.0000228881836,"y":146.50000381469727,"wires":[]},{"id":"c35068df.66d538","type":"comment","z":"80d656be.72c268","name":"Conversation endpoint","info":"","x":210.0000228881836,"y":326.50000381469727,"wires":[]},{"id":"eecdbfb8.8b9fa","type":"http response","z":"80d656be.72c268","name":"","x":1700.0000228881836,"y":366.50000381469727,"wires":[]},{"id":"57f4916e.d9f6","type":"switch","z":"80d656be.72c268","name":"Check Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"weather","vt":"str"},{"t":"eq","v":"datetime","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":870.0000228881836,"y":186.50000381469727,"wires":[["f99f3077.bd441"],["6b2ad31c.f8c9bc"],["f2a8bbc6.8b84f8"]]},{"id":"14d35a50.51d126","type":"function","z":"80d656be.72c268","name":"Set Default User","func":"flow.set('lat', msg.payload.lat);\nflow.set('long', msg.payload.long);\nmsg.payload = msg.payload.text;\nmsg.user = \"Default\";\nreturn msg;","outputs":1,"noerr":0,"x":460.0000228881836,"y":366.50000381469727,"wires":[["a874d7f9.077b98"]]},{"id":"ccc92a1d.6cab08","type":"http request","z":"80d656be.72c268","name":"Get weather","method":"GET","ret":"obj","url":"","tls":"","x":1280.0000228881836,"y":146.50000381469727,"wires":[["d2818b3a.7d3dc8"]]},{"id":"f99f3077.bd441","type":"function","z":"80d656be.72c268","name":"Set weather URL","func":"var lat = flow.get('lat');\nvar long = flow.get('long');\n\nmsg.url = 'https://twcservice.mybluemix.net:443/api/weather/v1/geocode/' + lat + '/' + long + '/forecast/daily/10day.json?units=m&language=en-US';\nreturn msg;","outputs":1,"noerr":0,"x":1080.0000228881836,"y":146.50000381469727,"wires":[["ccc92a1d.6cab08"]]},{"id":"d2818b3a.7d3dc8","type":"function","z":"80d656be.72c268","name":"Weather response","func":"msg.payload = ['The temperature is ' + msg.payload.forecasts[0].narrative + ' degrees celcius.']\nreturn msg;","outputs":1,"noerr":0,"x":1480.0000228881836,"y":146.50000381469727,"wires":[["eecdbfb8.8b9fa","85cb8054.7e96a"]]},{"id":"6b2ad31c.f8c9bc","type":"function","z":"80d656be.72c268","name":"Set date time URL","func":"var lat = flow.get('lat');\nvar long = flow.get('long');\n\nmsg.url = 'http://api.geonames.org/timezoneJSON?lat=' + lat + '&lng=' + long + '&username=cognibot';\n\nreturn msg;","outputs":1,"noerr":0,"x":1080.0000228881836,"y":186.50000381469727,"wires":[["53f8707a.b78c7"]]},{"id":"53f8707a.b78c7","type":"http request","z":"80d656be.72c268","name":"Get date time","method":"GET","ret":"obj","url":"","tls":"","x":1270.0000228881836,"y":186.50000381469727,"wires":[["e6aa95e4.132908"]]},{"id":"e6aa95e4.132908","type":"function","z":"80d656be.72c268","name":"Date time response","func":"msg.payload = ['The current date and time is ' + msg.payload.time]\nreturn msg;","outputs":1,"noerr":0,"x":1470.0000228881836,"y":186.50000381469727,"wires":[["85cb8054.7e96a","eecdbfb8.8b9fa"]]},{"id":"85cb8054.7e96a","type":"function","z":"80d656be.72c268","name":"Format Output","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":1730.0000228881836,"y":226.50000381469727,"wires":[["d6511e1d.3c539","13a438aa.15db57"]]},{"id":"a2ab17ef.4fc4b8","type":"ibmiot out","z":"80d656be.72c268","authentication":"boundService","apiKey":"ec8e69bd.b2b8c8","outputType":"cmd","deviceId":"device","deviceType":"default","eventCommandType":"text","format":"json","data":"{\"d\":{}}","qos":"1","name":"Publish Text","service":"registered","x":2400.0000228881836,"y":226.50000381469727,"wires":[]},{"id":"13a438aa.15db57","type":"function","z":"80d656be.72c268","name":"Format Text","func":"msg.payload=JSON.stringify({\"d\":msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":1960.0000228881836,"y":226.50000381469727,"wires":[["a2ab17ef.4fc4b8"]]},{"id":"32eae7df.73ac78","type":"comment","z":"80d656be.72c268","name":"Enter TTS Credentials","info":"","x":1730.0000228881836,"y":126.50000381469727,"wires":[]},{"id":"1b91ca30.831456","type":"comment","z":"80d656be.72c268","name":"Enter API Info","info":"","x":1280.0000228881836,"y":106.50000381469727,"wires":[]}]